
<app-image-side-panel *ngIf="showSidePanel" style="position: absolute"></app-image-side-panel>

<div class="top-message">

  <h1 class="message">{{imageContainers && (imageContainers.length===0)? 'No results to show': (searchQuery?("Icons for:"+ searchQuery):"All icons")}}</h1>
  <div class="options">
    <div></div>
    <!--dropdown begins-->
    <div class="dropdown " *ngIf="imageContainers && imageContainers.length>1">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
        Sort By
        <span class="caret"></span>
      </button>
      <!--TODO: use pipes instead of methods in sorting-->
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a (click)="sortImageContainerArrayBy('-imageVoteCount')">Likes
          <span *ngIf="sortbyPropery === '-imageVoteCount'" class="glyphicon glyphicon-ok"></span>
        </a></li>
        <li><a (click)="sortImageContainerArrayBy('-imagePublishDate')">Newest first<span
          *ngIf="sortbyPropery === '-imagePublishDate'" class="glyphicon glyphicon-ok"></span></a></li>
        <li><a (click)="sortImageContainerArrayBy('imagePublishDate')">Oldest first<span
          *ngIf="sortbyPropery === 'imagePublishDate'" class="glyphicon glyphicon-ok"></span></a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <!--dropdown ends-->

  </div>
</div>

<!--<div class="wrapper">-->

  <!--&lt;!&ndash;<img *ngIf="!imageContainers" src="assets/loading.gif" alt="Loading...">&ndash;&gt;-->

  <!--{{showLoadingIcon}}-->
  <!--<div class="img-container" style="position: relative" *ngFor="let imageContainer of imageContainers">-->
    <!--&lt;!&ndash;<img src="https://image.flaticon.com/icons/png/512/420/420225.png">&ndash;&gt;-->
    <!--&lt;!&ndash;<img [src]="'https://s3-us-west-2.amazonaws.com/photogridsandeep/' + imageContainer.ImageName+ '.jpg'" alt="no image found" [attr.image-container-id] = "imageContainer.ImageName">&ndash;&gt;-->
    <!--<img (click)="openSideImagePanel(imageContainer)"-->
         <!--[src]="'http://images.techhive.com/images/article/2015/07/windows10iso-100598962-medium.png'"-->
         <!--alt="no image found" [attr.image-container-id]="imageContainer.imageName"-->
         <!--style="cursor: pointer">-->
    <!--<img (click)="increaseVoteCount(imageContainer.imageId)"-->
         <!--src="https://image.flaticon.com/icons/png/128/148/148808.png"-->
         <!--style="position: absolute; bottom: 10%;left: 5%; width:20%; cursor: pointer;"/>-->
    <!--<div style="position: absolute; bottom: 12%;left: 25%; width:20%; color: yellow">{{imageContainer.imageVoteCount}}-->
    <!--</div>-->
  <!--</div>-->


<!--</div>-->


<!--===============================================================-->


<div class="container">
  <br>
  <!--image grid starts-->
  <div class="row horizontal-center" >
    <div class="col-xs-3 col-md-1 icon-grid-row" *ngFor="let imageContainer of imageContainers">
      <!--https://stackoverflow.com/questions/30026855/can-i-give-the-col-md-1-5-in-bootstrap-->
      <div class="img-container" style="position: relative">
        <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png">-->
        <!--<img [src]="'https://s3-us-west-2.amazonaws.com/photogridsandeep/' + imageContainer.ImageName+ '.jpg'" alt="no image found" [attr.image-container-id] = "imageContainer.ImageName">-->
        <img (click)="openSideImagePanel(imageContainer)"
             [src]="'https://s3-us-west-2.amazonaws.com/photogridsandeep/' + imageContainer.imageURL"
             alt="no image found" [attr.image-container-id]="imageContainer.imageURL"
             style="cursor: pointer">
        <img (click)="increaseVoteCount(imageContainer.imageId)"
             src="https://image.flaticon.com/icons/png/128/148/148808.png"
             style="position: absolute; bottom: 10%;left: 5%; width:20%; cursor: pointer;"/>
        <div style="position: absolute; bottom: 12%;left: 25%; width:20%; color: yellow">
          {{imageContainer.imageVoteCount}}
        </div>
      </div>

    </div>
  </div>
  <!--image grid ended-->

  <div class="row ">
    <!--Loding icon begin-->

    <div *ngIf="showLoadingIcon" class="col-xs-12 horizontal-center ">
      <br><br><br><br><br>
      <div >
        <i class="fa fa-refresh fa-spin" style="font-size:55px;color:white"></i>
      </div>
      <br><br><br><br><br><br>
    </div>
    <!--Loding icon ends-->


    <div class="col-xs-12 horizontal-center">
      <div class="loadMoreContainer" *ngIf="imageContainers && showLoadMore">
        <button class="btn btn-default btn-sm" (click)="loadMore()">Load More</button>
      </div>
    </div>
  </div>


</div>

































