/*select.ng-touched.ng-invalid,input.ng-touched.ng-invalid{*/
  /*border: 1px solid white;*/
  /*!*background-color: red;*!*/
/*}*/
/*label,p{*/
  /*color: white;*/
/*}*/

/*.wrapper{*/
  /*!*border: 1px solid white;*!*/
  /*display: flex;*/
  /*width:100%;*/
  /*height:50vh;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/

/*.container1{*/
  /*width: 30%;*/
  /*!*flex:6*!*/
/*}*/
/*.social{*/
  /*width: 20%;*/
  /*!*flex:4;*!*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*align-content: space-around;*/
/*}*/

/*.social-google{*/
  /*margin-top: 5%;*/
/*}*/


.border{
  border: 1px solid white;
}

.vertical-center{
  display: flex;
  align-items: center;
}
.horizontal-center{
  display: flex;
  justify-content: center;
}
.input-group{
  margin-bottom: 2px;
}

.whiteText{
  color: white;
}
