<div class="container" style="background-color: black">
  <!--<div class="container-fluid" style="background-image: url('https://static.pexels.com/photos/355465/pexels-photo-355465.jpeg');">-->
  <br>
  <div class="row">

    <div class="col-sm-12">
      <a routerLink="/"> <img src="https://s3-us-west-2.amazonaws.com/photogridsandeep/logo1.png" style="width: 250px">
      </a>
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-sm-4">
      <a href="#">Categories</a>
      <a href="#">Vehicles</a>
      <a href="#">Facebook</a>
      <a href="#">Birthday</a>
      <a href="#">Cats</a>

    </div>
    <div class="col-sm-4">
      <a href="#">login</a>
      <a href="#">Signup</a>
      <a href="#">Feedback</a>
      <a href="#">Submit icon</a>


    </div>
    <div class="col-sm-4">
      <a href="#">Search all icon</a>
      <a href="#">All Packages</a>
      <a href="#">Edit icon online</a>
      <a href="#">How to?</a>
      <a href="#">Flaticon Blogs</a>


    </div>
  </div>
</div>

