
<app-header-component ></app-header-component>
<div class="wrapper">
  <!--<app-sidebar></app-sidebar>-->
  <!--<app-image-side-panel style="position: fixed;"></app-image-side-panel>-->
  <router-outlet></router-outlet>
  <!--<app-blog-display></app-blog-display>-->
  <!--<app-image-modal></app-image-modal>-->
  <!--<app-thread class="border1"></app-thread>-->
  <br>
</div>
<app-footer-component ></app-footer-component>
<!--<app-admin></app-admin>-->



<!--<app-thread class="active"></app-thread>-->

<!--<text-editor [elementId]="'post-body'" (onEditorKeyup)="onBodyTextEditorKeyUp($event)"></text-editor>-->

<!--<br>-->

<!--<div [innerHTML]="blogContent"> </div>-->
<!--{{blogContent}}-->
<!--<br>-->

<!--<button (click)="doSomething()"> click me!</button>-->
<!--<app-text-editor-interface></app-text-editor-interface>-->


