
<app-header-component ></app-header-component>
<!--style is to keep footer at at bottom-->
<div class="wrapper" style="min-height:70%; border: 1px solid red">
  <!--<app-sidebar></app-sidebar>-->
  <!--<app-image-side-panel style="position: fixed;"></app-image-side-panel>-->
  <router-outlet></router-outlet>
  <!--<app-blog-display></app-blog-display>-->
  <!--<app-image-modal></app-image-modal>-->
  <!--<app-thread class="border1"></app-thread>-->
  <br>
</div>
<div id="footer">
  <app-footer-component ></app-footer-component>
</div>
<!--<app-admin></app-admin>-->



<!--<app-thread class="active"></app-thread>-->

<!--<text-editor [elementId]="'post-body'" (onEditorKeyup)="onBodyTextEditorKeyUp($event)"></text-editor>-->

<!--<br>-->

<!--<div [innerHTML]="blogContent"> </div>-->
<!--{{blogContent}}-->
<!--<br>-->

<!--<button (click)="doSomething()"> click me!</button>-->
<!--<app-text-editor-interface></app-text-editor-interface>-->


