<div class="wrapper">
  <h1 class="heading">Categories</h1>

  <div class="category">
    <div class="category-topic">
      <div class="text">CSS Tutorial</div>
    </div>
    <div class="category-element"><div class="text">Floats</div></div>
    <div class="category-element"><div class="text">FlexBox</div></div>
    <div class="category-element"><div class="text">Display</div></div>
    <div class="category-element"><div class="text">Positioning</div></div>

  </div>
  <div class="category">
    <div class="category-topic">
      <div class="text">CSS Tutorial</div>
    </div>
    <div class="category-element"><div class="text">Floats</div></div>
    <div class="category-element"><div class="text">FlexBox</div></div>
    <div class="category-element"><div class="text">Display</div></div>
    <div class="category-element"><div class="text">Positioning</div></div>

  </div>
  <div class="category">
    <div class="category-topic">
      <div class="text">CSS Tutorial</div>
    </div>
    <div class="category-element"><div class="text">Floats</div></div>
    <div class="category-element"><div class="text">FlexBox</div></div>
    <div class="category-element"><div class="text">Display</div></div>
    <div class="category-element"><div class="text">Positioning</div></div>

  </div>
  <div class="category">
    <div class="category-topic">
      <div class="text">CSS Tutorial</div>
    </div>
    <div class="category-element"><div class="text">Floats</div></div>
    <div class="category-element"><div class="text">FlexBox</div></div>
    <div class="category-element"><div class="text">Display</div></div>
    <div class="category-element"><div class="text">Positioning</div></div>

  </div>
  <div class="category">
    <div class="category-topic">
      <div class="text">CSS Tutorial</div>
    </div>
    <div class="category-element"><div class="text">Floats</div></div>
    <div class="category-element"><div class="text">FlexBox</div></div>
    <div class="category-element"><div class="text">Display</div></div>
    <div class="category-element"><div class="text">Positioning</div></div>

  </div>
  <div class="category">
    <div class="category-topic">
      <div class="text">CSS Tutorial</div>
    </div>
    <div class="category-element"><div class="text">Floats</div></div>
    <div class="category-element"><div class="text">FlexBox</div></div>
    <div class="category-element"><div class="text">Display</div></div>
    <div class="category-element"><div class="text">Positioning</div></div>

  </div>


</div>
