<!--<div class=" border center-vertical center-vertical card1 center-horizontal"-->
<!--style="height: 110px;width: 100%;background-color: black;">-->

<!--<div class="container border" style="width: 80%;height: 70%">-->

<!--<div class="row center-vertical" style="height: 100%">-->
<!--&lt;!&ndash;logo begins&ndash;&gt;-->
<!--<div class="col-xs-2 border center-vertical" style="height: 100%;margin-bottom: 10px; margin-right: 10px">-->
<!--&lt;!&ndash;<a routerLink="/" class="linkCursor logoSize border" style="height: 100%">&ndash;&gt;-->
<!--<a routerLink="/"><img  src="./assets/logo1.png " style="width: 110%"></a>-->
<!--&lt;!&ndash;logo ends&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash;search box starts&ndash;&gt;-->
<!--<div class="col-xs-6">-->
<!--<div class="input-group input-group-lg white-border" *ngIf="router.url !=='/'" style="height: 20%">-->
<!--<input type="text" class="form-control place form-element" [ngModel]="searchQuery"-->
<!--(ngModelChange)="debounce($event,200)"-->
<!--[ngModelOptions]="{standalone: true}" placeholder="Search blogs...">-->
<!--<div class="input-group-btn" (click)="debounce(searchQuery,0)">-->
<!--<button class="btn btn-default form-element" type="submit">-->
<!--<i class="glyphicon glyphicon-search"></i>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;search box ends&ndash;&gt;-->

<!--<div class="col-xs-2 ">-->

<!--<div class="row">-->

<!--<div class="col-md-12 border pull-left" style="display: flex;flex-wrap: nowrap">-->

<!--&lt;!&ndash;All icons button begins&ndash;&gt;-->
<!--<button (click)="debounce('',0)"  routerLink="icons" class="btn btn-default btn-lg"> All Blogs</button>-->
<!--&lt;!&ndash;All icons button ends&ndash;&gt;-->

<!--&lt;!&ndash;All icons button begins&ndash;&gt;-->
<!--<button (click)="debounce('',0)"  routerLink="icons" class="btn btn-default btn-lg "><i class="fa fa-pencil-square"> Write</i></button>-->
<!--&lt;!&ndash;All icons button ends&ndash;&gt;-->

<!--&lt;!&ndash;signup dropdown begins&ndash;&gt;-->
<!--<div *ngIf="!isLoggedIn()" class="dropdown right-nav-link"><a class="dropdown-toggle "-->
<!--style="font-size: 25px;font-weight: bold"-->
<!--data-toggle="dropdown" href="#">-->
<!--<button class="btn btn-default btn-lg "><i class="fa fa-user"></i> <span-->
<!--class="caret"></span></button>-->


<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
<!--<li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash;signup dropdown ends&ndash;&gt;-->

<!--&lt;!&ndash;Dashboard button begins&ndash;&gt;-->
<!--<div *ngIf="isLoggedIn()" class="dropdown right-nav-link"><a class="dropdown-toggle "-->
<!--style="font-size: 25px;font-weight: bold"-->
<!--data-toggle="dropdown" href="#">-->
<!--<button class="btn btn-primary btn-lg "><i class="fa fa-dashboard"></i> <span-->
<!--class="caret"></span></button>-->


<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a >Hi {{userfirstName| uppercase}}!</a></li>-->
<!--<li><a routerLink="dashboard">Dashboard</a></li>-->
<!--<li><a href="#">Settings</a></li>-->
<!--<li (click)="logout()"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>-->
<!--</ul>-->
<!--&lt;!&ndash;Dashboard button ends&ndash;&gt;-->


<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row border"  >-->
<!--<div class="col-xs-12  center-horizontal" style="width: 100%">-->
<!--<nav class="navbar navbar-inverse  border" style="border: 2px white solid; background-color: black">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="#">WebSiteName</a>-->
<!--</div>-->
<!--<ul class="nav navbar-nav">-->
<!--<li class="active" style="background-color: white"><a href="#">All Blogs</a></li>-->
<!--<li><a href="#"> Write</a></li>-->
<!--</ul>-->
<!--<form class="navbar-form nav navbar-nav navbar-center">-->
<!--<div class="form-group" >-->
<!--<input type="text" class="form-control" style="width: 100%" placeholder="Search">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-default">Submit</button>-->
<!--</form>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
<!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->

<!--</div>-->
<!--</div>-->

<!--</div>-->


<!--<span class='searchQuery'>-->
<!--Th-->
<!--<span class='searchQuery'>is</span>-->
<!--</span>-->
<!--is-->
<!--<span class='searchQuery'>a</span>-->
<!--<span class='searchQuery'>cat</span> <span class='searchQuery'>pic</span>-->


<div class="container pull-left " style="width: 100%; height: 100vh;background-color: black;">
  <div class="row center-vertical" style="height: 20%;">
    <!--logo starts here-->
    <div class="col-xs-12 ">
      <a routerLink="/allresults"><img class="img-responsive" src="./assets/logo1.png "></a>
    </div>
    <!--logo ends here-->
  </div>

  <div class="row whiteText" style="display: flex; align-items: center ;justify-content: center">
    <div style="background-color: #ff4f12; width: 15%;height: 40px; display: flex;align-items: center; justify-content: center;">
      <i class="fa fa-home"></i></div>
    <div style="width: 95%;padding-left: 5%"><a routerLink="/allresults">Home</a></div>
  </div>
  <br><br>
  <div class="row whiteText" style="display: flex; align-items: center ;justify-content: center">
    <div style="background-color: green; width: 5%;height: 40px;"></div>
    <div style="width: 95%;padding-left: 5%">Angular4</div>
  </div>
  <div class="row whiteText" style="display: flex; align-items: center ;justify-content: center">
    <div style="background-color: green; width: 5%;height: 40px;"></div>
    <div style="width: 95%;padding-left: 5%">NodeJS</div>
  </div>
  <div class="row whiteText" style="display: flex; align-items: center ;justify-content: center">
    <div style="background-color: green; width: 5%;height: 40px;"></div>
    <div style="width: 95%;padding-left: 5%">Angular4</div>
  </div>
  <div class="row whiteText" style="display: flex; align-items: center ;justify-content: center">
    <div style="background-color: green; width: 5%;height: 40px;"></div>
    <div style="width: 95%;padding-left: 5%">Angular4</div>
  </div>
  <div class="row whiteText" style="display: flex; align-items: center ;justify-content: center">
    <div style="background-color: green; width: 5%;height: 40px;"></div>
    <div style="width: 95%;padding-left: 5%">Angular4</div>
  </div>

  <br><br><br><br>
  <!--search starts-->
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <div class="input-group">
          <input type="text"
                 [ngModel]="searchQuery" (ngModelChange)="debounce($event,200)"
                 class="form-control" placeholder="Search..." aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"> </i></span>
        </div>
      </div>
    </div>
  </div>
  <!--search ends-->

  <div class="row whiteText" style="display: flex; align-items: center ;justify-content: center">
    <div style="background-color: blue; width: 15%;height: 40px; display: flex;align-items: center; justify-content: center;"><i class="fa fa-user"></i></div>
    <div style="width: 85%;padding-left: 5%"><a routerLink="login">Sign up or Login</a></div>
  </div>


</div>
















