<p>helloooooooooooooooooooo</p>


<!--<div class="wrapper">-->

<!--<div class="imageContainer">-->
<!--<div >{{imageContainer.imageAuthor}}</div>-->
<!--<div >{{imageContainer.imageName}}</div>-->
<!--<img src="http://images.techhive.com/images/article/2015/07/windows10iso-100598962-medium.png" alt="">-->
<!--</div>-->
<!--<button> Download</button>-->
<!--<button> Customize image</button>-->
<!--<div class="imageTagsWrapper">-->
<!--<div class="imageTags">1</div>-->
<!--<div class="imageTags">1</div>-->
<!--<div class="imageTags">1</div>-->
<!--<div class="imageTags">1</div>-->
<!--</div>-->


<!--</div>-->

<!--======================================================================= DONT DELETE ABOVE-->



<!--https://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3/-->
<div class="border" style="width: 60%; background-color: #ffffff">
  <div class="centering" style="width: 80%">
    <br> <br> <br>
    <button *ngIf="isUserAlsoOwnerOfThisImage(imageContainer.imageAuthor_id)" class="btn btn-danger" (click)="toggleEditModeAndSave()">{{editMode?"Save":"Edit"}}</button>
    <div class="card" style="border: solid white; background: white">

      <img class="card-img-top  center-block"
           [src]="'https://s3-us-west-2.amazonaws.com/photogridsandeep/' + imageContainer.imageURL"
           alt="Card image cap" style="width: 150px; border: solid black 1px">
      <div class="card-block">
        <input *ngIf="editMode" type="text" style="width: 100%;" [(ngModel)]="imageContainer.imageName">

        <h3 *ngIf="!editMode" class="card-title text-center">{{imageContainer.imageName}}</h3>
        <h5 class="card-title text-center"> {{imageContainer.imageAuthor}}</h5>
        <div class="centering" style="width: 10%">
          <img  src="https://image.flaticon.com/icons/svg/148/148836.svg" width="50%" alt="">
          <span>{{imageContainer.imageVoteCount}}</span>
        </div>


        <textarea *ngIf="editMode" type="text" style="width: 100%">Description for image. Dont edit. Wont work as of now.</textarea>
        <p *ngIf="!editMode" class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <p>{{editMode}}</p>

      <div *ngIf="!editMode">
        <a style="cursor: pointer;" *ngFor="let tag of imageContainer.imageTags" (click)="triggerAllIconObservable(tag)"> <span class="badge">{{tag}}</span></a>
      </div>


      <div  *ngIf="editMode"><input  id="tags" [value]="imageContainer.imageTags" data-role="tagsinput" tagsinput></div>

    </div>
  </div>
</div>
