


<div class="container">
  <!--<div class="row">-->
    <!--<div class="col-xs-12 border" style="width: 300px;height: 300px;" >-->
      <!--<img class="img-responsive" src="https://angular.io/assets/images/logos/angular/angular.png" alt="">-->


      <!--<div style="background-color: black; position: absolute;margin: auto;left: 0; right: 0;top: 0;bottom: 0">saddasda-->
      <!--</div>-->

    <!--</div>-->

  <!--</div>-->
  <div class="row " >
    <div class="col-xs-12" style="width: 300px;height: 300px;" >

    <div class="thumbnail border  text-center" >
      <img src="https://angular.io/assets/images/logos/angular/angular.png"  alt="" class="img-responsive">
      <div class="caption" style="background-color: rgb(0,0,0)">
        <p>Easily Add Mongo CRUD APIs to any NodeJS Express project.</p>
      </div>
    </div>
  </div>
  </div>
</div>


<!--<div class="wrapper">-->
  <!--<div class="parent" style="width: 100%">-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
    <!--<div class="img-container img-responsive">-->
      <!--<img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

